{% extends '_base.html' %}

{% block content %}
<div class="custom">
  <h2>Create {{ biome.name }} Scene</h2>
  <form method="POST" action="{{ url_for('core.create_scene', biome_id=biome_id, scene_id=scene_id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.vibe.label }} {{ form.vibe(class='form-control', placeholder='whimsical, serious, dangerous, high-tension, suspense,...') }}
      {% for error in form.vibe.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
        {{ form.focus.label }} {{ form.focus(class='form-control', placeholder='group of cultists, caravan, hill giant, castle, eclipse,...') }}
        {% for error in form.focus.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
{% endblock %}
